<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      {% unless post.title == "" %}
          <h1 class="post-link__title">      
            {{ post.title }}
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if post.title != "" and site.show_excerpts == true %}
        {% include post-excerpt.html %}
      {% endif %}
    </div>
    <span class="post-date">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}.
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Feb
        {% when '3' %}Mär
        {% when '4' %}Apr
        {% when '5' %}Mai
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Aug
        {% when '9' %}Sep
        {% when '10' %}Okt
        {% when '11' %}Nov
        {% when '12' %}Dez
      {% endcase %}
      '{{ post.date | date: "%y" }}
    </span>
  </a>
</li>
